# CodeOwners

# Algorithms
/mipengine/algorithms/ @jassak

# Controller service
/mipengine/controller/ @apmariglis @ThanKarab

# Node service
/mipengine/node/ @KFilippopolitis @ThanKarab
/mipengine/node/udf_generator/ @jassak
