# CodeOwners

# Algorithms
/mipengine/algorithms/ @jassak

# Controller service
/mipengine/controller/ @apmariglis @ThanKarab

# Worker service
/mipengine/worker/ @KFilippopolitis @ThanKarab
/mipengine/worker/udf_generator/ @jassak
