# CodeOwners

# Algorithms
/mipengine/algorithms/ @jassak

# Controller service
/mipengine/controller/ @apmariglis @ThanKarab @jassak

# Node service
/mipengine/node/ @KFilippopolitis @ThanKarab @jassak
/mipengine/node/udf_generator/ @jassak
