[tool.poetry]
name = "mip-engine"
version = "0.1.0"
description = "Core engine for the Medical Informatics Platform"
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "~3.8"
Quart = "~0.14.1"
celery = "~5.0.5"
pymonetdb = "~1.4.1"
dataclasses-json = "~0.5.2"
SQLAlchemy = "~1.3.0"
sqlalchemy_monetdb = "~1.0.0"
astor = "~0.8.1"
numpy = "~1.20.2"
scipy = "~1.6.2"
pandas = "~1.2.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
pytest-xdist = "^2.2.1"
requests = "^2.25.1"
ipython = "^7.22.0"
pdbpp = "^0.10.2"
invoke = "^1.5.0"
black = "^20.8b1"
pre-commit = "^2.11.1"
termcolor = "^1.1.0"
coverage = {extras = ["toml"], version = "^5.5"}
pylint = "^2.8.2"
rope = "^0.19.0"

[tool.coverage.run]
source_pkgs = ['mipengine']
dynamic_context = 'test_function'

[tool.coverage.report]
exclude_lines = ['def __repr__', 'raise NotImplementedError', 'pragma: no cover']
show_missing = true

[tool.coverage.html]
show_contexts = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
