apiVersion: v1
kind: Service
metadata:
  name: exareme2-globalworker
  namespace: {{ .Values.namespace }}
  labels:
    app: exareme2-worker
    nodeType: globalworker
spec:
  clusterIP: None
  selector:
    app: exareme2-worker
    nodeType: globalworker
  ports:
    - name: rabbitmq
      port: 5672
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: exareme2-globalworker
  namespace: {{ .Values.namespace }}
  labels:
    app: exareme2-worker
    nodeType: globalworker
spec:
  serviceName: exareme2-globalworker
  replicas: 1
  selector:
    matchLabels:
      app: exareme2-worker
      nodeType: globalworker
  template:
    metadata:
      labels:
        app: exareme2-worker
        nodeType: globalworker
    spec:
      {{- if not .Values.managed_cluster }}
      nodeSelector:
        master: "true"
      # Use hostPath storage on unmanaged clusters
      volumes:
        - name: db-data
          hostPath:
            path: {{ printf "%s/db" .Values.storage.hostPath.db.globalworker }}
        - name: credentials
          hostPath:
            path: {{ printf "%s/credentials" .Values.storage.hostPath.db.globalworker }}
        {{- end }}
        - name: csv-data
          hostPath:
            path: {{ printf "%s/csvs" .Values.storage.hostPath.db.globalworker }}

      {{- end }}
      containers:
      - name: rabbitmq
        image: {{ .Values.exareme2_images.repository }}/exareme2_rabbitmq:{{ .Values.exareme2_images.version }}
        env:
        - name: RABBITMQ_ADMIN_USER
          value: "user"
        - name: RABBITMQ_ADMIN_PASSWORD
          value: "password"
        - name: RABBITMQ_ADMIN_VHOST
          value: "user_vhost"
        - name: RABBITMQ_SLEEP_BEFORE_CONFIGURATION
          value: "30"
        ports:
        - containerPort: 5672
        startupProbe:
          exec:
            command:
              - rabbitmq-diagnostics
              - -q
              - check_port_connectivity
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 10
        livenessProbe:
          exec:
            command:
              - rabbitmq-diagnostics
              - -q
              - check_port_connectivity
          periodSeconds: 30
          timeoutSeconds: 10

      - name: worker
        image: {{ .Values.exareme2_images.repository }}/exareme2_worker:{{ .Values.exareme2_images.version }}
        volumeMounts:
        - mountPath: /opt/data
          name: csv-data
        env:
        - name: WORKER_IDENTIFIER
          value: {{ .Values.globalworker_identifier }}
        - name: WORKER_ROLE
          value: "GLOBALWORKER"
        - name: FEDERATION
          value: {{ .Values.federation }}
        - name: LOG_LEVEL
          value: {{ .Values.log_level }}
        - name: FRAMEWORK_LOG_LEVEL
          value: {{ .Values.framework_log_level }}
        - name: CONTROLLER_IP
          value: $(EXAREME2_CONTROLLER_SERVICE_SERVICE_HOST)
        - name: CONTROLLER_PORT
          value: $(EXAREME2_CONTROLLER_SERVICE_SERVICE_PORT)
        - name: PROTECT_LOCAL_DATA
          value: "false"      # The GLOBALWORKER does not need to secure its data, since they are not private.
        - name: CELERY_TASKS_TIMEOUT
          value: {{ quote .Values.controller.celery_tasks_timeout }}
        - name: RABBITMQ_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: RABBITMQ_PORT
          value: "5672"
        - name: SMPC_ENABLED
          value: {{ quote .Values.smpc.enabled }}
        {{- if .Values.smpc.enabled }}
        - name: SMPC_OPTIONAL
          value: {{ quote .Values.smpc.optional }}
        - name: SMPC_CLIENT_ID
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: SMPC_COORDINATOR_IP
          value: exareme2-smpc-coordinator-service
        - name: SMPC_COORDINATOR_ADDRESS
          value: "http://$(SMPC_COORDINATOR_IP):12314"
        {{- end }}
        startupProbe:
          exec:
            command:
              - python
              - -m
              - exareme2.worker.healthcheck
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 10
        livenessProbe:
          exec:
            command:
              - python
              - -m
              - exareme2.worker.healthcheck
          periodSeconds: 30
          timeoutSeconds: 10
  {{- if .Values.managed_cluster }}
  volumeClaimTemplates:
  - metadata:
      name: csv-data
      annotations:
        # tells Argo CD: do not prune (delete) this resource
        argocd.argoproj.io/sync-options: Delete=false,Prune=false
    spec:
      storageClassName: {{ .Values.storage.cephfs.storageClassName }}
      accessModes: {{ toYaml .Values.storage.cephfs.globalworker.csvs.accessModes | nindent 6 }}
      resources:
        requests:
          storage: {{ .Values.storage.cephfs.globalworker.csvs.size }}
  - metadata:
      name: db-data
      annotations:
        # tells Argo CD: do not prune (delete) this resource
        argocd.argoproj.io/sync-options: Delete=false,Prune=false
    spec:
      storageClassName: {{ .Values.storage.cephfs.storageClassName }}
      accessModes: {{ toYaml .Values.storage.cephfs.globalworker.db.accessModes | nindent 6 }}
      resources:
        requests:
          storage: {{ .Values.storage.cephfs.globalworker.db.size }}
  - metadata:
      name: credentials
      annotations:
        # tells Argo CD: do not prune (delete) this resource
        argocd.argoproj.io/sync-options: Delete=false,Prune=false
    spec:
      storageClassName: {{ .Values.storage.cephfs.storageClassName }}
      accessModes: {{ toYaml .Values.storage.cephfs.globalworker.creds.accessModes | nindent 6 }}
      resources:
        requests:
          storage: {{ .Values.storage.cephfs.globalworker.creds.size }}
  {{- end }}
  {{- end }}
