apiVersion: apps/v1
kind: Deployment
metadata:
  name: mipengine-controller-deployment
  labels:
    app: mipengine-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mipengine-controller
  template:
    metadata:
      labels:
        app: mipengine-controller
    spec:
      nodeSelector:
        nodeType: master
      containers:
      - name: controller
        image: {{ .Values.mipengine_images.repository }}/mipengine_controller:{{ .Values.mipengine_images.version }}
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 4999
        volumeMounts:
        - mountPath: /opt/cleanup
          name: cleanup-file
        env:
        - name: LOG_LEVEL
          value: {{ .Values.log_level }}
        - name: FRAMEWORK_LOG_LEVEL
          value: {{ .Values.framework_log_level }}
        - name: DEPLOYMENT_TYPE
          value: "KUBERNETES"
        - name: NODE_LANDSCAPE_AGGREGATOR_UPDATE_INTERVAL
          value: "{{ .Values.controller.node_landscape_aggregator_update_interval }}"
        - name: NODES_CLEANUP_INTERVAL
          value: "{{ .Values.controller.nodes_cleanup_interval }}"
        - name: NODES_CLEANUP_CONTEXTID_RELEASE_TIMELIMIT
          value: "86400"  # One day in seconds
        - name: CELERY_TASKS_TIMEOUT
          value: "{{ .Values.controller.celery_tasks_timeout }}"
        - name: CELERY_SMPC_TASKS_TIMEOUT
          value: "{{ .Values.controller.celery_smpc_tasks_timeout }}"
        - name: LOCALNODES_DNS
          value: "mipengine-nodes-service"
        - name: LOCALNODES_PORT
          value: "5672"
        - name: SMPC_ENABLED
          value: {{ quote .Values.smpc.enabled }}
        - name: SMPC_OPTIONAL
          value: {{ quote .Values.smpc.optional }}

      volumes:
      - name: cleanup-file
        hostPath:
          path: {{ .Values.controller.cleanup_file_folder }}

---

apiVersion: v1
kind: Service
metadata:
  name: mipengine-controller-service
spec:
  type: LoadBalancer
  selector:
    app: mipengine-controller
  ports:
    - protocol: TCP
      port: 4999
      targetPort: 4999
      nodePort: 30000

---

apiVersion: v1
kind: Service
metadata:
  name: mipengine-nodes-service
spec:
  clusterIP: None
  selector:
    app: mipengine-node
  ports:
    - protocol: TCP
      port: 5672
      targetPort: 5672
