localnodes: 3

mipengine_images:
  repository: madgik
  version: latest

log_level: DEBUG
framework_log_level: INFO

cdes_path: /opt/data
monetdb_storage: /opt/monetdb

controller:
  node_registry_update_interval: 30
  celery_tasks_timeout: 60
  nodes_cleanup_interval: 60
  cleanup_file_folder: /opt/cleanup

smpc:
  enabled: false
  optional: false
