namespace: default
managed_cluster: false
localnodes: 2

exareme2_images:
  repository: madgik
  version: 0.27.0

federation: dementia

log_level: INFO
framework_log_level: ERROR

max_concurrent_experiments: 32

flower:
  enabled: true
  execution_timeout: 30
  server_port: 8080

controller:
  workers_dns: "exaflow-workers-service"
  worker_landscape_aggregator_update_interval: 30
  worker_tasks_timeout: 300

globalworker_identifier: globalworker

aggregation_server:
  enabled: false
  max_wait_for_aggregation_inputs: 60

smpc:
  enabled: false
  optional: false
  image: gpikra/coordinator:v7.0.7.4
  db_image: mongo:5.0.8
  queue_image: redis:alpine3.15
  get_result_interval: 5
  get_result_max_retries: 100

storage:
  type: hostPath

  hostPath:
    db:
      localworker: "/opt/exaflow/localworker"
      globalworker: "/opt/exaflow/globalworker"

  cephfs:
    storageClassName: ceph-corbo-cephfs-retain

    controller:
      size: 1Gi

    localworker:
      db:
        size: 4Gi
        accessModes:
          - ReadWriteOnce
      csvs:
        size: 4Gi
        accessModes:
          - ReadWriteMany
      creds:
        size: 100Mi
        accessModes:
          - ReadWriteMany

    globalworker:
      db:
        size: 4Gi
        accessModes:
          - ReadWriteOnce
      csvs:
        size: 4Gi
        accessModes:
          - ReadWriteMany
      creds:
        size: 100Mi
        accessModes:
          - ReadWriteMany
