localnodes: 3

mipengine_images:
  repository: madgik
  version: latest

log_level: DEBUG
framework_log_level: INFO

monetdb_storage: /opt/mipengine/db
csvs_datapath: /opt/mipengine/csvs

controller:
  node_landscape_aggregator_update_interval: 30
  celery_tasks_timeout: 20
  celery_run_udf_task_timeout: 120
  nodes_cleanup_interval: 60
  cleanup_file_folder: /opt/cleanup

smpc:
  enabled: false
  optional: false
