localnodes: 2

exareme2_images:
  repository: madgik
  version: latest

federation: dementia

log_level: INFO
framework_log_level: ERROR

max_concurrent_experiments: 32

db:
  credentials_location: /opt/exareme2/credentials
  storage_location: /opt/exareme2/db
  csvs_location: /opt/exareme2/csvs
  max_memory: 1024    # k8s memory limit in megabytes
  percentage_soft_memory_limit: 65
  percentage_hard_memory_limit: 85

controller:
  worker_landscape_aggregator_update_interval: 30
  flower_execution_timeout: 30
  celery_tasks_timeout: 300
  workers_cleanup_interval: 60
  cleanup_file_folder: /opt/cleanup

globalworker_identifier: globalworker

smpc:
  enabled: false
  optional: false
  image: gpikra/coordinator:v7.0.7.4
  db_image: mongo:5.0.8
  queue_image: redis:alpine3.15
  get_result_interval: 5
  get_result_max_retries: 100

elk:
  enabled: false
