#Enable in case you need fast build of monetdb.
name: Publish PR MonetDB image

on:
  pull_request:
    branches: [master]
    types: [opened, reopened, synchronize]

jobs:
  build_and_push_monetdb_pr:
    if: github.event.pull_request.head.repo.full_name == github.repository
    name: Build MONETDB image for PR and push to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Capture short commit SHA
        id: vars
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Build and Push MONETDB image tagged with commit SHA
        uses: docker/build-push-action@v5
        with:
          context: .
          file: monetdb/Dockerfile
          push: true
          tags: madgik/exareme2_db:dev-${{ steps.vars.outputs.short_sha }}
