name: Standalone Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.8.2
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root

      - name: Run all standalone tests except the SMPC
        id: non_smpc_tests
        run: poetry run pytest -s -m "not smpc" --cov=exaflow --cov-report=xml:non_smpc_cov.xml tests/standalone_tests --verbosity=4
        env:
          PYTHONPATH: ${{ github.workspace }}/exaflow:${{ github.workspace }}
          PULL_DOCKER_IMAGES: false

#      Skip due to failing SMPC
#      - name: Run SMPC specific standalone tests after releasing previous test resources
#        if: success() || ( failure() && steps.non_smpc_tests.outcome == 'failure' )
#        run:  |
#          poetry run inv cleanup
#          poetry run pytest -s -m "smpc" --cov=exaflow --cov-report=xml:smpc_cov.xml tests/standalone_tests --verbosity=4 --reruns 3 --reruns-delay 5
#        env:
#          PULL_DOCKER_IMAGES: false

      - name: Upload coverage to Qlty
        uses: qltysh/qlty-action/coverage@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: ./non_smpc_cov.xml
#          files: ./non_smpc_cov.xml,./smpc_cov.xml
